# -----------------------------
# 데이터 및 대용량 파일
# -----------------------------
# data 폴더 전체를 무시합니다.
data/


# -----------------------------
# 파이썬 가상환경
# -----------------------------
# venv 폴더를 무시합니다. (매우 중요!)
venv/


# -----------------------------
# 파이썬 관련 파일
# -----------------------------
# 파이썬 캐시 파일 및 폴더
__pycache__/
*.pyc
*.pyo
*.pyd


# -----------------------------
# 에디터 및 시스템 파일
# -----------------------------
# VS Code 설정 폴더
.vscode/

# macOS 시스템 파일
.DS_Store


.env

# 아래는 학습된 데이터의 결과를 보여줌
models